.root {
  width: 600px;
  padding: 30px;
  border: 1px solid gray;
}

.head {
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}

.threshold {
  margin-bottom: 30px;
}

.range {
  background-color: lightgray;
  height: 75px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.input:first-child {
  margin-right: 30px;
}

.input:last-child {
  margin-left: 30px;
}

.approvers {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}

.approversItem {
  margin: 7.5px
}

.addApprovers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addApproversSelect {
  width: 200px !important;
  margin-left: 15px !important;
}

.addBtn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.removeIcon {
  margin-left: 5px;
  position: relative;
  top: -7.5px;
}

.removeIcon > svg {
  width: 12px;
  position: relative;
  top: -3px;
}